@charset "UTF-8";

/* Configurações Gerais */
body {
  font-family: 'Nunito', sans-serif;
}

.row {
  margin: 0;
}

p, li{
  font-size: 14pt;
}

/* Barra de navegação */
.navbar {
  background-color: #232323;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand {
  padding: 0;
  color: #ffffff;
}

.navbar-brand:hover {
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}

/* Conteúdo do meio */
div#conteudo {
  padding: 110px 30px 30px 30px;
}

div#conteudo a {
  color: black;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #232323;
}

div#conteudo a:hover {
  color: black;
  text-decoration: none;
}

/* Rodapé */
footer {
  /*background-color: #232323;*/
  color: black;
}

footer a {
  color: black;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #232323;
}

footer a:hover {
  color: black;
  text-decoration: none;
}

div#footer {
  margin-top: 5.5%;
}
