@charset "UTF-8";

/* Cabeçalho */

div#apresentacao {
  background-color: #212529;
  color: #ffffff;
  padding: 100px 60px 40px 60px;
  text-align: center;
}

div#textoApresentacao {
  margin: 8% 0 8% 0;
}

div#apresentacao a {
  color: #dc9c2e;
  text-decoration: none;
}

div#apresentacao a:hover {
  color: #dc9c2e;
  text-decoration: underline;
  text-decoration-style: dotted;
}

img#fotoPerfil {
  max-height: 280px;
  border-radius: 50%;
}

/* Conteúdo abaixo do cabeçalho */

div#competencias {
  padding: 60px 20px 50px 20px;
  color: #ffffff;
  background-color: #343a40;
}

.card {
  width: auto;
  height: 94%;
  border-radius: 15px;
}

div#postagens {
  padding: 60px 5px 5px 5px;
  color: #ffffff;
  background-color: #495057;
}

div#postagens a {
  color: #dc9c2e;
  text-decoration: none;
}

div#postagens a:hover {
  color: #dc9c2e;
  text-decoration: underline;
  text-decoration-style: dotted;
}
