@charset "UTF-8";

body {
  font-family: 'Nunito', sans-serif;
  font-size: 14pt;
  margin: 5px 10px 15px 20px;
  background-color: #2d1119;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #cdcfdb;
  text-decoration: none;
}

.cabeçalho {
  padding-left: 70px;
  padding-top: 20px;
}

.links {
  text-align: center
}

.corpo {
}

div img#minhafoto {
  max-height:280px;
  width: auto;
  height: auto;
}
